	<!DOCTYPE html>
	<html>
        <head>
            <meta charset="UTF-8">
            <title>FiscoClic Validación de identidad de personas</title>
            <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
            <meta name="viewport" content="width=device-width, initial-scale=1">          
            <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.jpg') }}" type="image/x-icon" />
            <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
        </head>
        <body style="background-color: #1A68FD;">
            <div id = "input">
                <p class="index_title">Bienvenido a FiscoClic!</p>
                <div class = "index_main">
                    <div style = "display: flex; justify-content: center;">
                        <a id = "return_office_button" href = "https://www.fiscoclic.mx"></a>
                    </div>
                    <form style = "margin-top: 29px;" action="{{ url_for('sign_up') }}">
                        <button class="button" style="vertical-align:middle">
                            <span>Registro por primera vez</span>
                        </button>
                    </form>
                    <form style = "margin-top: 23px;" action="{{ url_for('f_recognition') }}" >
                        <button class="button button-normal" style="vertical-align:middle" type="submit">
                            <span>Autenticación biométrica</span>
                        </button>
                    </form>
                </div>
            </div>
        </body>
	</html>
