<html>
    <head>
        <meta charset="UTF-8">
        <title>Inscribirse | FiscoClic Validación de identidad de personas</title>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.jpg') }}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/sign_up.css') }}">
    </head>
    <body style="background-color: #1A68FD;">
      <div id = "input">
        <p id = "signup_title">Onboarding FiscoClic</p>
        <a id = "return_office_button" href = "https://www.fiscoclic.mx"></a>
        <p id = "signup_description">Captura la siguiente información</p>
        <div class = "sign">
          <form action="{{ url_for('signup_user') }}" method="post">
            <div class="msg">{{ msg }}</div>
            <div style = "margin-bottom:0;width: 100%;">
              <div class="title">Nombre de usuario</div>
              <input id="username" name="username" type="text"/>
            </div>
            <div style = "margin-top:16px; margin-bottom:0;width: 100%;">
              <div class="title title1">Correo electrónico</div>
              <input id="email" name="email" type="text"/>
            </div>
            <div style = "margin-top:16px; margin-bottom:0;width: 100%;">
              <div class="title title2">Contraseña</div>
              <input id="password" name="password" type="password"/>
            </div>
            <input type="submit" class="btn" value="Siguiente"></br>
          </form>
        </div>
      </div>
    </body>
</html>